<!doctype html>
<html>
<head>
<meta charset="UTF-8">
    <title>天气查询程序</title>
<style type="text/css">
#center_ul li{display:block; float:left; margin:5px;}
<!--将一块整个的居中对齐-->
</style>
</head>
<body>
    <div style="padding:50px 300px 10px;">
        <ul id="center_ul">
            <li><div>
                <li><form action="/weather_query.html" method="POST">
                    <li><input type="text" name="location"  placeholder="输入城市名 查天气"></li>
                    <li><button type="submit" name="button" value="Search" >Search</button></li>
                    <li><button type="submit" name="button" value="History">History</button></li>
                    <li><button type="submit" name="button" value="Help">Help</button></li>
              </form></li>
              </div></li>
          </ul>
    </div>
</body>
</html>


<!--这是一段注释。注释不会在浏览器中显示。-->
